@import '../../shared/styling/constants.scss';

.login-page {
    display: flex;
    text-decoration: none;
}

.small-print {
    position: absolute;    
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.left-side {   
    position:relative;
    width:70%;
    height: 100vh;        

    .logo {
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;  
        
        filter: drop-shadow(1px 1px 2px $color-dark-blue);
        
        transition: transform 0.25s;  
        &:hover {            
            transform: scale(1.05);    
        }
    }

    .hero {        
        display: block;
        margin: auto;          

        .small-print {            
            bottom:20px;
            left:20px;              
        }
    }    
}

.right-side {     
    position: relative;    
    width: 30%;
    height: 100vh;   
    
    display: flex; 
    // background-color: $color-background-overlay-light;

    .inner-box {          
        
        width: 100%;
        background: $color-background-accent;

        display: flex; 
        flex-direction: column;
        align-items: center;        

        // margin-top: 60px;
        // margin-right: 40px;
        // margin-bottom: 120px;    
        
        margin: 40px 60px 120px 60px;

        box-shadow: 0 4px 8px 0 $color-box-shadow;
        transition: box-shadow box-shadow 0.4s, 2s;   
       
        &:hover {            
            animation: box-shadow-burn-in 4s;    
            animation-iteration-count: infinite;
        }  

        .brandname-h1 {

            a {
                color: $color-lines;
                text-shadow: 1px 1px $color-light-complement;   
                font-family: $font-statement;
            }            
                         
            margin: 40px auto -20px auto;
            display: flex;  
            flex-direction: column;              
        }

        .mini-logos {

            margin: 10px auto 10px auto;

            display: flex;  
            flex-direction: row;  
            align-items: center;     
            
            width: 90%;
            
            padding: 0px 4px;

            .iqs {
                margin: 0px auto;

                display: flex;  
                flex-direction: row;
                align-items: center; 

                a {
                    font-family: $font-main;
                    font-size: $font-size-standard;
                }

                svg {
                    margin: 4px;
                    padding: 0px;
                    width: 16px;
                }                 
            }

            .algo-cash {

                margin: 0px auto;

                display: flex;  
                flex-direction: row;
                align-items: center; 

                a {
                    font-family: $font-algocash;
                    font-size: $font-size-standard;
                }

                h2 {  
                    font-size: $font-size-standard;
                    margin: 4px;
                    padding: 0px;
                    width: 24px;
                }
            }            
        }        

        hr { 
            margin-bottom: 30px;
            margin-top: 0px;
        }

        h2 {
            text-align: center;
            margin-bottom: 40px;
        }
     
        .input-with-label-pop {
            @include input-with-label-pop;           
        }

        .sign-in-button-container {  
            @include sign-in-button;
            margin-top: 40px; 
        }

        .link-container {
            text-align: center;
            margin: 20px;

            &.candidate {

                .additional-info-mid-print{                   
                    font-weight: bold;
                }
              
            }
        }



    }        

    .copyright-notice-container .small-print {   
        color: $color-dark-blue;   
        bottom:20px;
        right:20px;     
    }
}

