// @import '../../shared/styling/constants.scss';
@import '../../shared/styling/global-styling.scss';

.page-wrapper-dashboard {

    @include standard-wrapper-dims;
    @include standard-flex(row, left);     

    .standard-background {
        @include standard-background(75%);
    }
} 

.main-section {    
   
    margin: 0em;
    padding: 2em;
    min-height: 80vh;
    width: 80%;

    @include standard-flex(row, flex-start);    
    flex-wrap: wrap;
    align-content: center;

    background-color: rgba($color-grey-light, 0.8);

    .placeholder {

        position: relative;

        margin: 20px;            
               
        svg { 
            filter: opacity(90%) saturate(75%);;
            width: 240px;
            
            box-sizing: border-box; 
            padding: 0;
            margin: 0;             
            border-style: solid; 
            border-radius: px;  
            border-color: rgba($color-blue-mid, 0.25);   
            border-width: 1px;
        }

        .placeholder-summary {
            background-color: rgba($color-grey-light, 0.9);
            border-style: solid;            
            border-width: 1px;
            border-color: $color-blue-light;
            padding: 0.5em;
            position: absolute;
            top: 3em;
            left: 3em;                       
        }   
        
    }

    .placeholder-2 {

        position: relative;

        margin: 20px;            
               
        svg { 
            filter: opacity(90%) saturate(75%);;
            width: 480px;
            
            box-sizing: border-box; 
            padding: 0;
            margin: 0;             
            border-style: solid; 
            border-radius: px;  
            border-color: rgba($color-blue-mid, 0.25);   
            border-width: 1px;
        }

        .placeholder-summary {
            background-color: rgba($color-grey-light, 0.9);
            border-style: solid;            
            border-width: 1px;
            border-color: $color-blue-light;
            padding: 0.5em;
            position: absolute;
            top: 3em;
            left: 3em;                       
        }   
        
    }


    // overflow: hidden;   

    // .placeholder-graph {  
    //     margin: 0.5em;
    //     width: 360px; 
    //     max-height: 240px;

    //     svg {
    //         border-width: 1px;
    //         border-style: solid;  
    //         border-radius: 4px;
    //         border-color: $color-grey-dark;    
    //     }   
    // }
}