@import '../../styling/global-styling.scss';

.nav-bar {    
   
    width: 100vw;
    height: 8em;  
    position: absolute;

    border: solid;
    border-width: 0;            

    @include standard-flex(row, center);

    .spacer {
        width: 75%;
    }

    ul {      
        margin: auto;
        padding: 0;     
        @include vert-centered-text($font-size-main);
    }  

    li {       
        display: inline-block;
        box-sizing: border-box;       
        width: auto;    
        margin: 0px;
        padding: 1em;
        padding-bottom: 2.5em;
        border: solid;
        border-width: 0px;     
        font-weight: 400;

        text-transform: uppercase;       

        &:hover {            
            cursor: pointer;       
            font-weight: bold;                                    
        }
    }     
}