@import '../../shared/styling/global-styling.scss';

.home-page {
    background: $color-bg; 
    @include standard-wrapper-dims;     

    .content-wrapper {
        @include standard-wrapper-dims;    
        @include standard-flex(row, center);
     }

    .nav-bar {
        position: absolute;
        top: 2em;
        right: 4em;
    }

    .big-brand-typography {
        position: relative;   
        margin: auto;        
    }

    .pop-in-section {
        @include standard-flex(column, center);       
        position: relative;               
        margin: auto;
      
        width: 480px;
        height: 600px;   
    }

    // .login-form {     
   
    //     margin-top: 1em;  
    //     @include standard-flex(column, center);          

    //     .username-input, .password-input {                
    //         @include standard-input-label-treatment;
    //         @include input-validity-messages;     
    //         margin-top: 1em;      
    //     }                   

    //     &:invalid > button  {            
    //         opacity: 0.4;
    //         border-bottom-width: 1px;  
    //     }

        // &:valid > button  {  
        //     border-bottom-width: 1px;  
        //     opacity: 1;  
        //     border-color: $color-green;
        //     background-color: $color-green;   
        //     color: $color-bg;
            
        //     &:hover {
        //         border-bottom-width: 1px;  
        //         cursor: pointer;  
        //     }                
        // }      
        
    //     .database-message {
    //         @include vert-centered-text($font-size-label);
    //         margin-top: 1em;
    //         color: $color-red;
    //         text-align: center;             
    //     }       
    // }  

    .links {

        .additional-link {
            
            width: 80%;
            margin: auto;
            margin-top: 1em;
            text-align: center;

            .mid-print {
                @include vert-centered-text($font-size-main);
                @include opacity-pop();
            }

            &.privacy-statement {
                width: 80%;
                margin: auto;
                margin-top: 0.5em;                

                .small-print {
                    @include vert-centered-text($font-size-small);
                    @include opacity-pop();
                    width: 80%;
                    display: inline-block;
                }
            }           
        }
    }
}