@import '../../shared/styling/global-styling.scss';

.home-page {

    background: $color-bg;    
    // background: linear-gradient(102deg, $color-green 60%, $color-bg 60%);

    .page-wrapper {

        @include standard-wrapper-dims;
        @include standard-flex(column, left);

        .standard-background {
            @include standard-background(45%);
        }
    }

    .diagonal-container {
        position: absolute;
        left:-100px;
        overflow: hidden;
        background-color: $color-green;
        width: 60%; 
        transform: skew(10deg);
    }

    .left-section {   
        transform: skew(-10deg);  
        
        width: 40%;   
        height: 100vh; 
        

        display: flex;
        flex-direction: column;
        box-sizing: border-box;   

        .headline-section {           
            margin: 0 auto;
            padding: 12em;
            position: relative;

            h1 {           
                @include vert-centered-text(12rem);                
                font-family: $font-family-statement;
                color: $color-bg;  
                text-align: left;                
                
                em {
                    color: $color-red;
                }
            }
    
            h2 {
                @include vert-centered-text(2rem);
                font-family: $font-family-main;
                color: $color-bg;
                font-weight: bold;
                text-align: right; 
            }
            
        }


    }
}