// Font 
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

$font-main: 'Josefin Sans', sans-serif;
$font-statement: 'Josefin Sans', sans-serif;

$font-size-small: 10px;
$font-size-mid: 12px;
$font-size-standard: 16px;
$font-size-headline: 32px;
$font-size-statement: 48px;

// Main Colours
$color-black: #060b0f;
$color-background: snow;
$color-background-accent: rgba(255, 250, 250, 0.8);

$color-light-blue: #B3EFFF;
$color-light-blue-overlay: rgba(179, 239, 255, 0.4);
$color-light-complement: #ffb7b3;
$color-mid-blue: #046B99;
$color-mid-complement: #991104;
$color-dark-blue: #1C304A;

// Highlights & Shadows
$color-background-overlay: rgba(255, 250, 250, 0.6);
$color-background-overlay-light: rgba(255, 250, 250, 0.5);
$color-box-shadow: rgba(28, 48, 74, 0.2);
$color-box-shadow-emphasised: rgba(28, 48, 74, 0.3);
$color-shadow-light: #DCDCDC;
$color-lines: #778899;
$color-button: rgba(180, 190, 200, 0.2);

$color-input: #f0efef;
$color-input-highlighted: #f1f1f1;
$color-input-outline: #dbdbdb;
$color-input-outline-highlight: #adadad;

// Standard Sizes
$input-field-width: 240px;
$input-field-height: 40px;

$margin: 20px;
$padding: 8px;
$border: 1px;
$border-highlighted: 2px;
$border-emphasised: 3px;

// Mixins

@mixin vert-centered-text($size) {
    height: $size;
    font-size: $size; 
}

@mixin headline(){
    font-family: $font-statement;    
    font-size: $font-size-statement;
    font-weight: bold;

    color: $color-mid-blue;

    a {                 
        color: $color-mid-blue;
    } 

    text-align: center; 
}

@mixin standard-margin($vertical: auto, $horizontal: auto){
    margin-top: $vertical;
    margin-bottom: $vertical;
    margin-left: $horizontal;
    margin-right: $horizontal;   
}

@mixin border-standard() {
    border-width: 1px;
    border-style: solid;  
    border-radius: 4px;
    border-color: $color-input-outline;
}

@mixin opacity-pop(){
    opacity: 0.8;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    } 
}

@mixin input-with-label-pop {
    
    width: $input-field-width;
    height: $input-field-height;
    margin: $margin;  
    box-sizing: border-box;
    
    .input-container {    

        position: relative;        
        background: $color-input;   
        @include border-standard();  

        padding: $padding $padding $padding/2 $padding;       

        transition: border-bottom 0.1s, ease-in-out;     
        transition: background 0.8s;      

        &:hover {
            border-color: $color-input-outline-highlight;
            border-bottom-width: $border-highlighted;  
            background: $color-background-overlay;
            
            input::placeholder {       
                color: $color-dark-blue;
            }        
        }

        &:focus-within {
            background: $color-background-overlay;         
            border-bottom-width: $border-emphasised;  
        }   
    }     

    input:focus~label {
        opacity: 1;
        z-index: 1;
        top: -8px;
        font-size: $font-size-mid;    
        color: $color-mid-blue;    
        background-color: snow;            
    }

    label {
        position: absolute;
        font-family: inherit;
        color: $color-mid-blue;       
        z-index: -1; // prevents the label getting in the way of input
        opacity: 0;        
        top: 0px;
        left: 4px;
        font-size: $font-size-standard;
        padding-left: 1px;        

        transition: opacity 0.5s ease-in-out;
        transition: top 0.4s, font-size 0.2s, color 0.2s linear;
    }

    input {
        background: transparent;
        height: 1.4em;
        width: $input-field-width - $padding * 2;        
        font-family: inherit;
        font-size: $font-size-standard;
        color: $color-dark-blue;
        caret-color: $color-light-complement;
        outline: 0;
        border: 0;                       
        
        &::placeholder {
            color: $color-lines;
            opacity: 0.8;
            transition: color 0.1s ease-in-out;
        }        

        &:focus::placeholder {
            opacity: 0;       
        }        
    }
}

@mixin sign-in-button {    
    
    cursor: pointer;     

    @include border-standard();   
    height: $input-field-height;
    width: $input-field-width;

    color: $color-dark-blue;
     
    outline: 0;
    font-family: $font-statement;   
    font-size: $font-size-mid; 
    font-weight: bold;           
   
    background: $color-light-blue-overlay;   
    transition: background 0.25s ease-in-out;

    &:hover {    
        background: $color-light-blue;    
    }

    &:active {
        background: $color-light-complement;            
    }    
}