// Font 
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Josefin+Sans&display=swap');

$font-family-statement: 'Josefin Sans', sans-serif;
$font-family-main: 'Josefin Sans', sans-serif;

//'Merienda', cursive;

$font-size-small: 8px;
$font-size-label: 12px;
$font-size-main: 16px;
$font-size-headline: 32px;
$font-size-statement: 64px;

// Colours
$color-white: #fffafa;
$color-black: #0C0101;

// Palette
$color-blue-light: rgba(232, 240, 254, 0.5);
$color-blue-mid: #046B99;
$color-blue-dark: #1C304A;
$color-red-light: #FF3B3F;
$color-red-dark: #e66365;
$color-grey-dark: #A9A9A9;
$color-grey-light: #f0efef;

// Additional
$color-box-shadow: rgba(28, 48, 74, 0.2);

//Sizes
$input-field-width: 15em;
$input-field-height: 3em;

@mixin standard-wrapper-dims(){
    height: 100vh;
    width: 100vw;
    margin: 0em;
    padding: 0em;
}

@mixin standard-flex($direction, $alignment){  
    display: flex;
    flex-direction: $direction;
    align-items: $alignment;
    justify-content: $alignment; 
}

@mixin standard-background($opacity){

    @include standard-wrapper-dims;

    position: absolute;
    z-index: -10;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  

    background-color: $color-blue-light;
    background-image: url(../../shared/styling/texture-min.jpg);
    background-blend-mode: color-burn;
    filter: opacity($opacity);     
}

@mixin standard-admin-main-section(){
    @include standard-flex(row, flex-start);    
    margin: 0em;
    padding: 2em;
    min-height: 80vh;
    width: 80%;
   
    flex-wrap: wrap;
    align-content: center;

    background-color: rgba($color-grey-light, 0.8);
}

@mixin margin-padding-reset(){
    margin: 0px;
    padding: 0px;
}

@mixin border-standard() {
    border-width: 1px;
    border-style: solid;  
    border-radius: 4px;
    border-color: $color-blue-dark;
    box-sizing: border-box;

    &:hover {        
        border-bottom-width: 2px;
    }

    &:focus-within {
        border-bottom-width: 2px;
        border-color: $color-blue-mid;
    }
}

@mixin standard-font(){
    font-size: $font-size-main; 
    font-family: $font-family-main;
    color: $color-blue-dark;
}

@mixin standard-form-part(){
    @include margin-padding-reset;
    @include border-standard;
    @include standard-font;
    outline: 0;   
    width: $input-field-width;
    height: $input-field-height;
}

@mixin standard-input-label-treatment(){
    input {           
        
        &::placeholder {
            opacity: 0;       
        }         

        &:valid~label {
            color: green;
        }

        &:not(:placeholder-shown):invalid~label {
            color: red;
        }
    }

    position: relative; 

    label {
        position: absolute;               
        font-size: $font-size-label;         
        top: 0.5em;       
        left: 0.75em;
    }     
}

@mixin input-validity-messages(){
    
    position: relative;

    .invalid-message, 
    .valid-message {
        position: absolute;
        bottom: 0.5em;      
        right: 0.5em;

        font-size: $font-size-label;  

        z-index: -1;
        opacity: 0;  
        transition: opacity 1s linear;           
    }    

    input:not(:placeholder-shown):valid {          
        
        border-color: green;
        border-width: 2px;

        &~.valid-message {
            color: green;
            opacity: 1;
            z-index: 1;
        }                
    }   

    input:not(:placeholder-shown):invalid {   
        
        border-color: red;
        border-width: 2px;

        &~.invalid-message {
            color: red;
            opacity: 1;
            z-index: 1;
        }  
    }
} 

@mixin standard-button(){     
    @include margin-padding-reset();
    @include border-standard();
    @include standard-font();
    
    font-weight: bold;    
    
}

@mixin vert-centered-text($size) {
    height: $size;
    font-size: $size; 
}

@mixin opacity-pop(){
    opacity: 0.8;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    } 
}

@mixin drop-shadow-pop(){
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.1s;   
        
    &:hover {                      
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);  
    }    
}

@mixin cheap-nav-triangle($vertical-position){
    
    .nav-triangle{
        width: 0;
        height: 0;
    
        border-style: solid;
        border-width: 20px 10px 20px 0;
        border-color: transparent rgba($color-grey-light, 0.8) transparent transparent;
        
        position: absolute;
        right: 0;
        top: $vertical-position;
    }    
}