@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Spartan&display=swap');

$font-main: 'Spartan';
$font-statement: 'Abril Fatface';
$font-size-standard: 16px;
$font-size-small: 8px;
$font-mid-print: 12px;
$font-size-headline: 32px;
$font-size-statement: 64px;


$color-black: black;
$color-light-blue: #B3EFFF;
$color-mid-blue: #046B99;
$color-dark-blue: #1C304A;

$color-background: snow;
$color-background-overlay: rgba(255, 250, 250, 0.6);
$color-background-overlay-light: rgba(255, 250, 250, 0.5);

$color-box-shadow: rgba(28, 48, 74, 0.2);

$color-lines: #778899;

$color-shadow-light: #DCDCDC;


