@import './constants.scss';









body {
    margin: 0px;
    padding: 0px;

    background-image:
        linear-gradient(45deg, rgba($color-light-blue,0.75) 25%, rgba($color-mid-blue, 0.75) 100%),
        url(./texture.jpg);

    background-repeat: no-repeat;
    background-size: cover;

    font-family: $font-main;
    font-size: $font-size-standard;
    text-align: left;

    color: $color-dark-blue;
}

h1 {
    font-size: $font-size-statement;
    color: $color-mid-blue;
    text-align: center;
}

a {
    text-decoration: none;
    color: $color-dark-blue;
}

.small-print {
    font-size: $font-size-small;
}

.additional-info-mid-print {
    font-size: $font-size-mid;
}