@import './constants.scss';

.switch-wrapper {
    position: relative;
    
}

.switch-wrapper>div {
    position: absolute;   
}

html {
    color: $color-blue-dark;
}

body {
    @include margin-padding-reset;
    background-color: $color-white;
    height: 100vh;
    font-family: $font-family-main;
    color: $color-blue-dark;
    text-align: left;
}

h1 {
    @include margin-padding-reset;
    @include vert-centered-text($font-size-statement);
    font-family: $font-family-main;
    text-align: center;
}

a {
    @include margin-padding-reset;
    text-decoration: none;
    color: $color-blue-dark;
}

input {
    @include standard-form-part;

    padding-left: 0.5em;
    padding-top: 1.2em;
    caret-color: $color-red-dark;
    background-color: $color-blue-light;
}

label {
    @include margin-padding-reset;
    font-family: $font-family-main;
}

.card {
    @include drop-shadow-pop;
    box-sizing: border-box;    
    background-color: rgba($color-grey-light, 0.9);
    padding: 2em;

    &:hover {
        background-color: rgba($color-grey-light, 1);        
    }
}