@import '../../styling/constants.scss';

.login-card{

    text-align: center;

    display: flex;  
    flex-direction: column; 
    align-items: center;

    background-color: $color-background;

    .main-brand {             
        @include opacity-pop();  
        @include headline();          

        margin-top: 1em;
        margin-bottom: 0.5em;
    }       

    .input-with-label-pop {           
        @include input-with-label-pop;   
        @include standard-margin(1em, auto);             
    }
     
    .sign-in-button {      
        @include sign-in-button;        
        @include standard-margin(1em, auto);       
    }

    .link-container { 
        @include opacity-pop();   
              
        &.forgot-password {
            @include standard-margin(1em, auto);  
        }

        &.candidate {                      
            @include standard-margin(2em, auto);  

            .additional-info-mid-print{                  
                color: $color-mid-blue;                 
                font-weight: bold;
            }    
        }     
        
        &.privacy-statement {
            @include standard-margin(0em, 8em);   
            font-size: $font-size-small - 2px; 
        }
    }        
}