@import '../../../shared/styling/global-styling.scss';

.dashboard-page {    

    .page-wrapper {

        @include standard-wrapper-dims;
        @include standard-flex(row, left);     
    
        .standard-background {
            @include standard-background(75%);
        }

        @include cheap-nav-triangle(9.5em);
    } 
    
    .main-section {    
        @include standard-admin-main-section();
        
    
        .placeholder {

            @include bounce;
    
            position: relative;
    
            margin: 20px;            
                   
            svg { 
                filter: opacity(90%) saturate(75%);;
                width: 240px;
                
                box-sizing: border-box; 
                padding: 0;
                margin: 0;             
                border-style: solid; 
                border-radius: 4px;  
                border-width: 1px;
            }
    
            .placeholder-summary {
                background-color: rgba($color-grey-light, 0.9);
                border-style: solid;            
                border-width: 1px;
                border-color: $color-blue-light;
                padding: 0.5em;
                position: absolute;
                top: 3em;
                left: 3em;                       
            }   
            
        }
    
        .placeholder-2 {
    
            @include bounce;
            position: relative;
    
            margin: 20px;            
                   
            svg { 
                filter: opacity(90%) saturate(75%);;
                width: 480px;
                
                box-sizing: border-box; 
                padding: 0;
                margin: 0;             
                border-style: solid; 
                border-radius: 4px;  
                border-width: 0px;
            }
    
            .placeholder-summary {
                background-color: rgba($color-grey-light, 0.9);
                border-style: solid;            
                border-width: 1px;
                border-color: $color-blue-light;
                padding: 0.5em;
                position: absolute;
                top: 3em;
                left: 3em;                       
            }   
            
        }
    }
}